@use 'inc' as *;

body {
	color: $text;
	font-size: 16px;
	font-family: $mainFont;
	font-weight: normal;
	font-style: normal;

	&.ovf_hidden {
		overflow: hidden;
	}
}

section {
	display: block;
	padding: 80px 0;
}

.container {
	max-width: 1352px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	align-items: flex-start;
    flex-wrap: wrap;
	justify-content: flex-start;
	@include mq-inv-large {
		padding: 0 20px;
	}
	@include mq-inv-medium {
		padding: 0 15px;
	}
}

main {
	position: relative;
}

//header & common
@import 'parts/header';
@import 'parts/section-title';
@import 'parts/layout';

//parts
@import 'parts/sections/hero_section';
@import 'parts/sections/about_us_section';
@import 'parts/sections/contact_us_section';

@import 'parts/seach_form';

//footer
@import 'parts/footer';

