.section-hero {
    background-color: #173817;

    .section-hero--team {
        width: 100%;
    }

    & .section-hero--team-members-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        /*Team member styles*/
        & .section-hero--team-member {

            /*Team member social icons styles*/
            & .team-member--social-icons {
                display: inline-flex;
                background-color: #DBD978;
                border-radius: 30px;
                margin-bottom: 1rem;
                padding: 0.3124rem 1rem;

                & .team-member--icon {
                    display: inline-block;
                    margin-right: 1rem;

                    a {
                        display: block;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                & .team-member--icon img {
                    width: 22px;

                }
            }

            /*Team member image block styles*/
            & .team-member-img-wrapper {
                display: flex;
                flex-direction: column;
                width: 19.125rem;
                height: 25.64125rem;
                position: relative;

                & .team-member-frame {
                    height: 50%;
                    & .team-member-decor-triangle {
                        &.triangle-down {
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 25px solid transparent;
                            border-right: 25px solid transparent;
                            border-top: 50px solid currentColor;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 1;
                        }
                    }
                }

                & .team-member-frame--bottom {
                    margin-bottom: 1rem;
                }

                & .team-member--portrait {
                    position: absolute;
                    padding: 20px;
                    & img {
                        border-radius: 20px;
                    }
                }
            }

            /*Team member text info*/
            & .team-member--text-info {
                color: #ffffff;
                margin-bottom: 1.5rem;

                & .team-member--name {
                    color: #ffffff;
                    font-size: 1.5rem;
                    line-height: 1.725rem;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 0.5rem;
                }

                & .team-member--role {
                    text-align: center;
                    font-size: 1.125rem;
                    line-height: 1.3125rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

}

/*Custom styles for frames*/
.person-card--first {
    & .team-member-frame--top{
        background-color: #FFDD22;
        color: #FFDD22;
    }

    & .team-member-frame--bottom{
        background-color: #383030;
    }
}